@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: black;
  background: white;
  max-width: 100vw;
  overflow-x: hidden;
}


.swal-popup {
  background-color: #ffffff;
  color: #000000;
}

.swal-title {
  color: #20AD81;
}

.swal-content {
  color: #000000;
}

.swal-confirm-button {
  background-color: #20AD81;
  color: #ffffff;
}

.largeDonught {
  width: 100% !important;
  height: 100% !important;
}